@font-face {
  font-family: "iconfont"; /* Project id 4310153 */
  src: url('iconfont.woff2?t=1701696579898') format('woff2'),
       url('iconfont.woff?t=1701696579898') format('woff'),
       url('iconfont.ttf?t=1701696579898') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanli:before {
  content: "\e693";
}

.icon-shangsheng:before {
  content: "\e750";
}

.icon-xiajiang:before {
  content: "\e755";
}

.icon-shouru:before {
  content: "\e64d";
}

.icon-pinglunguanli:before {
  content: "\e63d";
}

.icon-shangpinguanli1:before {
  content: "\e696";
}

.icon-yonghuguanli:before {
  content: "\e633";
}

.icon-rizhiguanli:before {
  content: "\e645";
}

.icon-shangjiaguanli:before {
  content: "\e7f4";
}

.icon-xingxing:before {
  content: "\e642";
}

.icon-good:before {
  content: "\e62a";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-dingyue:before {
  content: "\e787";
}

.icon-jianhao:before {
  content: "\e729";
}

.icon-dingdan1:before {
  content: "\e737";
}

.icon-ruihuo:before {
  content: "\e66c";
}

.icon-ziliao:before {
  content: "\e66e";
}

.icon-shujutongji:before {
  content: "\e60a";
}

.icon-fabushangping:before {
  content: "\e616";
}

.icon-shangpinguanli:before {
  content: "\e618";
}

.icon-kucuntongji:before {
  content: "\e67e";
}

.icon-list:before {
  content: "\e6e4";
}

.icon-shoucangjia:before {
  content: "\e610";
}

.icon-add:before {
  content: "\e622";
}

.icon-updata:before {
  content: "\e8cf";
}

.icon-delate:before {
  content: "\e718";
}

.icon-person:before {
  content: "\e653";
}

.icon-tuichu:before {
  content: "\e60d";
}

.icon-houtai:before {
  content: "\e654";
}

.icon-shangjia:before {
  content: "\e647";
}

.icon-yonghu:before {
  content: "\e6a5";
}

.icon-notsee:before {
  content: "\e601";
}

.icon-cansee:before {
  content: "\e602";
}

.icon-bilibili:before {
  content: "\e883";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-gouwuche:before {
  content: "\e61b";
}

.icon-lishi:before {
  content: "\e621";
}

.icon-dingdan:before {
  content: "\e626";
}

.icon-shoucang:before {
  content: "\e699";
}

