@font-face {
  font-family: "iconfont"; /* Project id 4310153 */
  src: url('iconfont.woff2?t=1699932189299') format('woff2'),
       url('iconfont.woff?t=1699932189299') format('woff'),
       url('iconfont.ttf?t=1699932189299') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-notsee:before {
  content: "\e601";
}

.icon-cansee:before {
  content: "\e602";
}

.icon-bilibili:before {
  content: "\e883";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-gouwuche:before {
  content: "\e61b";
}

.icon-lishi:before {
  content: "\e621";
}

.icon-dingdan:before {
  content: "\e626";
}

.icon-shoucang:before {
  content: "\e699";
}

